:root {
  --black-color: #000000;

  --bg-color: #fafafb;
  --bg-color-2: #161819;
  --bg-color-3: #222;

  --border-color-1: #bdbdbd;

  --main-color: #ff0000;
  --main-color-2: #ed1d24;


  --primary-color: #2F80ED;

  --text-color-1: #000000;
  --text-color-2: #333333;
  --text-muted: #828282;

  --track-color: #202324;
  --thumb-color: #454a4d;
  --thumb-hover-color: #596268;

  --font-size: 1.4rem;

  --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}
