.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 1.9rem 1.7rem 1.9rem;
  p {
    color: var(--text-muted);
  }

  a {
    text-decoration: underline;
    font-weight: 700;
  }
}
