@import "../../../styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  .wrapper {
    display: flex;
    flex: 1 1;
    justify-content: flex-start;
    flex-direction: column;

    h2 {
      margin: 2.7rem 0 1.4rem 0;
    }
    .logo {
      margin-top: 1.8rem;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 3.5rem;
      .input {
        svg {
          width: 2.4rem;
          height: 2.4rem;
          fill: var(--text-muted);
        }
      }

      .input + .input {
        margin: 1.4rem 0 2.2rem 0;
      }

      .login_btn {
        font-size: 1.6rem;
        font-weight: 600;
        width: 100%;
        padding: 1rem 0;
      }
    }
  }
}

@include devices(lg) {
  .main {
    height: auto;
  }
}
